
.input-style{
    border: 0px;
    padding: 24px;
    width: 100%;
}
.claim-list{
    background-color: white;
    margin-top: 16px;
    font-size: 0.7em;
}
.list-item-style{
    text-align: center;
}
.bold-text{
    font-weight: 600;
}
.table-head{
    background-color: #139DC9;
}
.table-head-text{
    color: white;
    font-size: 1.2em;
}
.summary-list{
    line-height: 2.5em;
}
.chart{
    background-color: #ffffff !important;
    margin : 0px;
    margin-top : 16px;
    padding-top : 24px;
    padding-bottom : 24px;
}
.summary-values{
    font-size: 18px;
}
.dark_red{
    color: #AD320D
}
.blue{
    color: #1DA3CD
}
.red{
    color: #FF3B41
}
.green{
    color: #2AC327
}
.orange{
    color: #FA731A
}
.btn-background{
    background-color: #1DA3CD;
    padding : 16;
    color: white;
    text-align: center !important;
}
.border-view{
    padding : 24px;
    border: 1px solid #1DA3CD;
    background-color: white;
    font-size: 12px;
    margin-bottom: 16px;
}
.top-padding{
    padding : 12px !important;
    margin-top: 16px;
    font-size: 12px;
    background-color: #1DA3CD;
    color: white;
}
.nopadding{
    padding:0px;
}
td a {
    display:block;
    width:100%;
}
.column {
    float: left;
    width: 15%;
    padding: 10px;
}
hr
{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-color: black;
    line-height: 0px;
}