.header_container{
    background-color: #139DC9;
    padding: 16px;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-left: -17px;
    padding-right: 20px;
}
.header_text{
    color: white;
    margin:0px;
    font-size: 20px;
    
}
.dropdown-item:hover {
    background-color: #139DC9;
    color: white
  }
.dropdown-item {
    font-size: 12px;
}