
 
  .div-color{
    text-align:left; display:inline-block; background-color:#139DC9;height:65px;font-size:12px; margin-right:2px; color:#FFFFFF;
}
.disc{
    color: red;
    font-size: 30px;
    margin-top: -20px;
    margin-left: 40px;
}
.time{
    margin-top: -20px;
}
.rightDisplay{
    text-align:right
}
td{
    font-size: 11px;
}
.claims-text{
    font-size: 9px !important;
}
#eligibilityError td {
    padding: 1px !important;
}