padding-top.Title
{
    font-weight: bold;
    font-size: 14x;
    margin-left: 15px;
    color:white;
   
}

.headernm
{
    font-weight: bold;
    font-size: 10x;
    margin-left: 37px;
   
}
.form-control
{
    font-size: 12px;
}
.btn-demo {
	border-radius: 150;
	font-size: 12px;
    background-color: #05274D;
    color: white;
    width: 95%;
    text-align: left;
}
.btn-demo:hover {
    color: white;
}
.widthText{
    width: 100%;
    float: inherit !important; 
}
.small{
    font-size: 12px;
}
.dot{
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.Hipaas_logo {
    width: 300px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -100px;
    }
.para{
    position: sticky;
    left: 5%;
    top: 85%; 
    text-align: center;
    color: white;
}
.contact{
    position: sticky;
    left: 35%;
    top: 95%; 
    text-align: center;
    color: white !important;
    font-weight: 700;
    text-decoration: underline;
}
.headerText{
    padding-left: 0px;
}
.vartical-center{
    position: absolute;
    left: 73%;
    top: 25%; 
}