.list-dashboard{
    font-size: 12px;
    padding-left: 2px;
}
.header{
    margin-top: 10px;
}
.title_graph{
    color: #139DC9;
    font-size: 13px;
}
.collapsible {
    background-color: lightgray;
    color: black;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
  }

.content {
    border-color: #008CBA;
    border-style: solid;
    border-width: thin;
}
.header2{
    margin-left: -28px;
}

.datepicker{
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    height: 32px;
    width : 100%
}
.react-datepicker-wrapper{
    width : 100%
}
.button{
    margin-top: 18px;
    border: 1px solid #139DC9;
    color: white;
    background: #139DC9;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
}