@import "../../color.css";

.input-style{
    padding:13px;
    width: 100%  ; 
    border: none;
}
.claim-list{
    background-color: var(--white-color);
    margin-top: 16px;
    font-size: 12px;
}
.list-item-style{
    text-align: center;
}
.bold-text{
    font-weight: 600;
}
.table-head{
    background-color: var(--main-bg-color);
}
.table-head-text{
    color: var(--white-color);
    font-size: 12px;
}
.summary-list{
    line-height: 2.5em;
}
.summary-values{
    font-size: 18px;
}
.dark_red{
    color: var(--dark-red)
}
.blue{
    color: var(--blue-color)
}
.red{
    color: var(--red)
}
.green{
    color: var(--green)
}
.orange{
    color: var(--orange)
}
.btn-background{
    background-color: var(--main-bg-color);
    padding : 16;
    color: var(--white-color);
    text-align: center !important;
}
.border-view{
    padding : 24px;
    border: 1px solid var(--main-bg-color);
    background-color: var(--white-color);
    word-wrap: break-word;
    font-size: 12px;
    margin-bottom: 16px;
}
.top-padding{
    padding : 12px !important;
    margin-top: 16px;
    font-size: 12px;
    background-color: var(--main-bg-color);
    color: var(--white-color);
}
.nopadding{
    padding:0px;
}
td a {
    display:block;
    width:100%;
}
.top_style{
    width:20%; 
    display:none; 
    float:left;
}
.dashInp {
    width: 226px;
    height: 35px;
    border: var(--white-color) solid 1px;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    font-size: 14px;
    color: var(--dark_gray);
    background: var(--white_back);
    /* font-weight: bold; */
    border-radius: 5px;
    Font-Family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}
.lblTxt {
    color: var(--dark_gray);
    padding-bottom: 5px;
    display: block;
    font-weight: normal;
    /* height: 40px; */
    text-align: left;
    /* padding-top: 20px; */
    Font-Family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    Font-Style: normal;
    font-size: 14px;
    Line-Height: 16px;
    text-align: Left;
    Letter-Spacing: -0.41px;
}
.list-header-dashboard{
    font-size: 12px;
    padding-bottom : 8px;
    padding-left: 2px;
}
.center-align{
    text-align: center;
    padding: 8px;
}
.small-text{
    font-size: 12px;
    text-align: center;
}
.padding-left{
    padding-left: 16px
}
.top-container{
    margin-left: 16px;
}
.spacing{
    padding-left: 0px;
}
.dashInp{
    margin-right: 0px;
}
.dashfrm-LR1{
    margin: 24px
}
.div-inner{
    text-align:left; display:inline-block; background-color:var(--brown-color);height:80px;font-size:12px; margin-right:4px; color:var(--white-color);
}
.small-div{
    text-align:left; display:inline-block; background-color:var(--main-bg-color);height:80px;font-size:12px; margin-right:4px; color:var(--white-color);
}
.third-div{
    text-align:left; display:inline-block; background-color:var(--crimson);height:80px;font-size:12px; margin-right:4px; color:var(--white-color);
}
.datepicker {
    width: 120px;
}
.filter-header{
    padding-top : 12px;
    padding-bottom : 12px;
    padding-left: 16px;
    font-size: 12px;
    font-weight: 24px;
}
.filter-container{
    /* box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); */
    border: 0.2px solid var(--filterColor);
    margin-bottom: 24px;
}
.nav-tabs {
    border-bottom: 1px solid var(--navTabs);
    margin-bottom: 16px;   
}
.justify-align{
    font-size: 12px;
    padding: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}
.margin{
    margin-left: 16px;
    margin-right: 16px;
}
.dark_red{
    color: #AD320D
}
.green{
    color: #2AC327
}
.orange{
    color: #FA731A
}